.wrapper {
    width: 420px;
    background-color: #fff;
    color: lightslategray;
}

.wrapper h1 {
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
}

.wrapper h3 {
    text-align: center;
    margin-bottom: 20px;
}

.wrapper .input-box {
    position: relative;
    margin: 30px 0;
    width: 100%;
    height: 50%;
    background: #ffffff34;
}

.input-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 40px;
    background: transparent;
    padding: 20px 45px 20px 20px;
    font-size: 16px;
}

.input-box input::placeholder {
    color: lightslategray;
}

.wrapper .remember-forgot {
    font-size: 14.5px;
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px 0;
}

.remember-forgot label input {
    margin-right: 4px;
    accent-color: #fff;
}

.remember-forgot a {
    color: #3498db;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding: 6px 12px;
    font-size: 14px;
    background: #fff;
    color: #333;
    font-weight: 700;
    box-shadow: 0 0 10px 0 #3498db;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    text-align: center;
}

.wrapper .register-link {
    text-align: center;
    margin-top: 20px;
    font-size: 14.5px;
}

.register-link a {
    color: #3498db;
    text-decoration: none;
    font-weight: 600;
}

.register-link a:hover {
    text-decoration: underline;
}